<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpFunctionalExtensions" version="1.14.0" targetFramework="net461" />
  <package id="FireSharp" version="1.1.0" targetFramework="net461" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.49.0.2175" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Refit" version="4.4.17" targetFramework="net461" />
  <package id="RestSharp" version="104.4.0" targetFramework="net461" />
  <package id="SheetToObjects.Adapters.GoogleSheets" version="2.5.0" targetFramework="net461" />
  <package id="SheetToObjects.Core" version="2.5.0" targetFramework="net461" />
  <package id="SheetToObjects.Lib" version="2.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>